body {
    margin: 0px;
}

#Container {
    min-height: 100%;
}

#Upper {
    height: -webkit-fill-available;
    padding-bottom: 30px; /*has to match the footers height*/
}

#footer {
    position: fixed !important;
    width: 100% !important;
    height: 30px !important;
    bottom: 0 !important;
    top: unset;
    background: black;
}

#MediaControlBox {
    text-align: center;
}

.invisible {
    display: none;
}

iframe {
    height: -webkit-fill-available !important;
}