#FileListBox {
    width: 100%;
    height: calc(100% - 30px);
    margin: 0px 2px;
    position: fixed;
    display: inline-block;
    flex-direction: row-reverse;
    overflow-y: scroll;
}

table {
    border-collapse: collapse;
    width: calc(100% - 207px);
    user-select: none;
}

tbody tr:nth-child(even) {
    background: #eee;
    user-select: none;
}

th, td {
    border: 1px solid #999;
    max-width: 100px;
    text-overflow: clip;
    /* white-space: nowrap; */
    overflow: hidden;
}

.RatingSelect {
    width: 100%;
}