#FileListBox {
    margin: 5px;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    display: inline-block;
}

table {
    border-collapse: collapse;
    width: calc(100% - 207px);
}

tbody tr:nth-child(even) {
    background: #eee;
}

th, td {
    border: 1px solid #999;
    max-width: 100px;
    text-overflow: clip;
    /* white-space: nowrap; */
    overflow: hidden;
}