
#ListViewBox {
    float: left;
    margin: 0px 2px;
    width: 207px;
}

/* #ListButtonBox {
    margin-bottom: 2px;
} */

#ListSelect {
    width: 100%
}

#ListCollectionBox {
    height: -webkit-fill-available - 20px;
    padding-bottom: 30px;
}

#AddButton {
    text-align: center;
}

.ListButton {
    width: 65px;
    margin-left: 2px;
    margin-right: 2px;
}

.DeleteButton {
    float: right;

}

.ListItem {
    margin: 0px 2px;
    margin-bottom: 5px;
}

#SearchBox {
    height: 20px;
    width: calc(100% - 4px);
}